body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 1rem;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.btnDiv {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: hsla( 191deg, 95%, 43%, 1 );
  color: white;
  transition: 0.25s ease;
}

.btnDiv i {
  font-size: 1.3rem;
}

.btnDiv div:hover {
  transition: all .3s ease-in-out;
  color: yellow;
}

.navDiv, .backBtn, .fwdBtn, .dateID {
  padding: 1rem 1rem;
  font-size: 1.3rem;
}

.dateID,
.backBtn,
.fwdBtn {
  background-color: #d3d3d3;
  transition: 0.25s ease;
  border: 1px solid black;
}

.dateID {
  margin: 0 0.1em
}

.backBtn {
  border-radius: 15px 0 0 15px;
}

.fwdBtn {
  border-radius: 0 15px 15px 0;
}

.backBtn:hover,
.fwdBtn:hover {
  background-color: #77dd77;
}
